:root {
	--background-prim: rgb(39, 39, 39);
	--background-sec: rgb(46, 46, 46);
}

* {
	font-family: "Montserrat", "Times New Roman";
}

/* Source: https://fonts.google.com/noto/specimen/Noto+Color+Emoji */
@font-face {
	font-family: "Noto Color Emoji";
	src: url("/fonts/NotoColorEmoji-Regular.ttf");
}

/* Source: https://fonts.google.com/specimen/Montserrat */
@font-face {
	font-family: "Montserrat";
	font-stretch: 0 100; /* Note that font-stretch is a % of normal width */
	font-style: normal;
	font-weight: 100 900;
	src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-stretch: 0 100; /* Note that font-stretch is a % of normal width */
	font-style: italic;
	font-weight: 100 900;
	src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
