.language-selector {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	font-size: 2vw;
}

/* The code bellow was copied from: https://fabriceleven.com/design/clever-way-to-change-the-drop-down-selector-arrow-icon/ */
.language-selector {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	cursor: pointer;
	border: none;
}

/*To remove button from IE11, thank you Matt */
.language-selector::-ms-expand {
	display: none;
}
