:root {
	--col-1: white;
	--col-2: #82a3ff;
	--col-3: #6683da;
	--col-font: #ffffff;
	--col-accent: #d7ffe9;

	--radius: 15px;

	--padding: 15px;
}

* {
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background: var(--col-1);
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--col-font);
	height: 100vh;
}

#app {
	padding: var(--padding);
	height: 100vh;
}

.window {
	background: var(--col-2);
	border-radius: var(--radius);
	padding: var(--padding);
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
	background: var(--col-3);
	border-radius: var(--radius);
}

.scrollbar::-webkit-scrollbar-thumb {
	background: var(--col-accent);
	border-radius: var(--radius);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--col-accent);
}
