:root {
	--col-1: white;
	--col-2: #82a3ff;
	--col-3: #6683da;
	--col-font: #ffffff;
	--col-accent: #d7ffe9;

	--radius: 15px;
	--padding: 15px;

	--font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background: var(--col-1);
	margin: 0;
	font-family: var(--font-family);
	color: var(--col-font);
	height: 100vh;
}

input {
	font-family: var(--font-family);
}

#app {
	padding: var(--padding);
	height: 100vh;
}

.window {
	background: var(--col-2);
	border-radius: var(--radius);
	padding: var(--padding);
}

.form-input,
.form input {
	padding: 10px;
	border: none;
	border-radius: calc(var(--radius) / 2);
	background: var(--col-3);
	color: var(--col-font);
	font-size: 1rem;
	outline: none;
}

.form-input:focus,
.form input:focus {
	outline: 1px solid var(--col-accent);
}

.form-button,
.form button {
	padding: 12px;
	border: none;
	border-radius: calc(var(--radius) / 2);
	background: var(--col-3);
	color: var(--col-font);
	font-size: 1rem;
	cursor: pointer;
	margin-top: 10px;
	font-weight: bold;
}

.form-button:hover,
.form button:hover {
	background: var(--col-accent);
	color: var(--col-3);
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
	background: var(--col-3);
	border-radius: var(--radius);
}

.scrollbar::-webkit-scrollbar-thumb {
	background: var(--col-accent);
	border-radius: var(--radius);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--col-accent);
}
